<script src="https://cdn.jsdelivr.net/npm/vue"></script>
<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css"
  integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
<script src="https://code.jquery.com/jquery-3.2.1.slim.min.js"
  integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js"
  integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"
  integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>



<body>
  <div id="app">
    <div>
      <ul class="nav nav-tabs">
        <li class="nav-item">
          <a class="nav-link" href="#" @click="tabSelected='list'" :class="{active: tabSelected=='list'}">List</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#" @click="tabSelected='money'" :class="{active: tabSelected=='money'}">Money
            Making</a>
        </li>
      </ul>
      <div class="w-100" v-show="tabSelected==='list'">


        <div style="background-color: white;" class="sticky">

          <div class="btn-group btn-group-toggle sticky">
            <button @click="filterBy='all'" class="btn btn-primary sticky"
              :class="{active: filterBy=='all'}">Both</button>
            <button @click="filterBy='fish'" class="btn btn-primary sticky"
              :class="{active: filterBy=='fish'}">Fish</button>
            <button @click="filterBy='bugs'" class="btn btn-primary sticky"
              :class="{active: filterBy=='bugs'}">Bugs</button>
          </div>
          <div class="btn-group btn-group-toggle sticky">
            <button @click="filterBy2='all'" class="btn btn-primary sticky"
              :class="{active: filterBy2=='all'}">All</button>
            <button @click="filterBy2='rare'" class="btn btn-primary sticky"
              :class="{active: filterBy2=='rare'}">Rare</button>
            <button @click="filterBy2='notRare'" class="btn btn-primary sticky"
              :class="{active: filterBy2=='notRare'}">Not
              Rare</button>
          </div>
          <div class="btn-group btn-group-toggle sticky">
            <button @click="filterByMonth=[];filterByHour=[]" class="btn btn-info sticky">All</button>
            <button @click="filterByMonth=[new Date().getMonth()];filterByHour=[new Date().getHours()]"
              class="btn btn-info sticky">Now</button>
            <button @click="filterByMonth=[new Date().getMonth()];filterByHour=[new Date().getHours()+1]"
              class="btn btn-info sticky">Hour+</button>
            <button @click="filterByMonth=[new Date().getMonth()];filterByHour=[]"
              class="btn btn-info sticky">Month</button>
            <button @click="openModal('AdvancedDateTimeModal')" class="btn btn-info sticky">Advanced</button>
          </div>

          <div class="btn-group btn-group-toggle sticky">
            <button @click="filterBy3=0" class="btn btn-info sticky">0+</button>

            <button @click="filterBy3=1000" class="btn btn-info sticky">1k+</button>
            <button @click="calculateBestTimeFilter(); openModal('moneyCalcModal')" class="btn btn-info sticky"
              data-toggle="tooltip" title="Not including rarity">Show Me the Money</button>

          </div>

          <span class="sticky">Months: {{filterByMonthPlusOne}} Hours: {{filterByHour}} Min Bells: {{filterBy3}} </span>




        </div>

        <table class="table table-striped">
          <thead>
            <tr>
              <th class="stickyheader" @click="setSort('name')">name</th>
              <th class="stickyheader">image</th>
              <th class="stickyheader" @click="setSort('location')">
                location</th>
              <th class="stickyheader" @click="setSort('price')">price(-20%)
              </th>
              <th class="stickyheader" @click="setSort('size')">size</th>
              <th class="stickyheader" @click="setSort('isRare')">rare</th>
              <th class="stickyheader" v-show="toggleShadows" @click="toggleShadows=!toggleShadows">shadow</th>
              <th class="stickyheader" v-show="!toggleShadows" @click="toggleShadows=!toggleShadows">...</th>

            </tr>
          </thead>
          <tr v-for="critter in tableSort">

            <td> {{ critter.name }}</td>
            <td> <img :src="critter.url"></td>
            <td> {{ critter.location }}</td>
            <td> {{ critter.price }} ({{critter.price*0.80}})</td>
            <td>{{critter.size}} </td>
            <td>{{critter.isRare}} </td>

            <td> <img v-if="critter.type=='fish'&&toggleShadows"
                :src="critter.size.replace(' ','__').replace('(','').replace(')','')+'.png'" style="max-height:100px">
            </td>
          </tr>
        </table>
      </div>

    </div>

    <div class="modal fade" id="moneyCalcModal" tabindex="-1" role="dialog" aria-hidden="true">
      <div class="modal-dialog modal-dialog-lg " role="document">
        <div class="modal-content">
          <div class="modal-header">
            <h5 class="modal-title" id="exampleModalCenterTitle">Big Money</h5>
            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
              <span aria-hidden="true">&times;</span>
            </button>
          </div>
          <div class="modal-body">
            <table class="table table-striped">
              <thead>
                <tr>
                  <th class="">Location</th>
                  <th class="">High</th>
                  <th class="">
                    Low</th>
                  <th class="">Sizes
                  </th>
                  <th class="">Avg $-Size</th>
                  <th class="">Sum $-Size</th>
                  <th class="">Count-Size</th>
                  <th class="">Names</th>
                  <th class="">Avg $</th>
                  <th class="">Wtd $</th>
                </tr>
              </thead>
              <tr v-for="loc in moneyMaker">
                <td>{{loc.location}}</td>
                <td>{{loc.high}}</td>
                <td>{{loc.low}}</td>
                <td>{{JSON.stringify(loc.sizes)}}</td>
                <td>{{JSON.stringify(Array.from(loc.averagePricePerSize.entries()))}}</td>
                <td>{{JSON.stringify(Array.from(loc.sumPricePerSize.entries()))}}</td>
                <td>{{JSON.stringify(Array.from(loc.countPerSize.entries()))}}</td>
                <td>{{loc.names}}</td>
                <td>{{loc.averagePrice}}</td>
                <td>{{loc.weightedAveragePrice}}</td>
              </tr>
            </table>
          </div>
          <div class="modal-footer">
            <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
          </div>
        </div>
      </div>
    </div>

    <div class="modal fade" id="AdvancedDateTimeModal" tabindex="-1" role="dialog" aria-hidden="true">
      <div class="modal-dialog modal-dialog-lg " role="document">
        <div class="modal-content">
          <div class="modal-header">
            <h5 class="modal-title" id="exampleModalCenterTitle">Advanced Time</h5>
            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
              <span aria-hidden="true">&times;</span>
            </button>
          </div>
          <div class="modal-body row">
            <div class="col-sm-6">
              <div v-for="(value, month) in advancedMonth">

                <button class="col-sm-12" @click="advancedMonth[month]=!advancedMonth[month]" class="btn"
                  :class="{'btn-success': advancedMonth[month],'btn-primary':!advancedMonth[month]}">{{month}}</button>
              </div>
            </div>
            <div class="col-sm-6">
              <div class="row">
                <div class="col-sm-6">
                  <div v-for="(value, hour) in advancedHourAm">
                    <button class="col-sm-12"  v-if="hour!=0" @click="advancedHourAm[hour]=!advancedHourAm[hour]" class="btn"
                      :class="{'btn-success':advancedHourAm[hour],'btn-primary':!advancedHourAm[hour]}">{{hour}}
                      am</button>
                      <button v-if="hour==0" class="col-sm-12" @click="advancedHourAm[hour]=!advancedHourAm[hour]" class="btn"
                      :class="{'btn-success':advancedHourAm[hour],'btn-primary':!advancedHourAm[hour]}">12
                      am</button>
                  </div>
                </div>
                <div class="col-sm-6">
                  <div v-for="(value, hour) in advancedHourPm">
                    <button class="col-sm-12" v-if="hour!=0" @click="advancedHourPm[hour]=!advancedHourPm[hour]" class="btn"
                      :class="{'btn-success': advancedHourPm[hour],'btn-primary':!advancedHourPm[hour]}">{{hour}}
                      pm</button>
                      <button class="col-sm-12" v-if="hour==0" @click="advancedHourPm[hour]=!advancedHourPm[hour]" class="btn"
                      :class="{'btn-success': advancedHourPm[hour],'btn-primary':!advancedHourPm[hour]}">12
                      pm</button>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="modal-footer">
            <button type="button" class="btn btn-secondary" data-dismiss="modal" @click="buildFilter()">Filter</button>
            <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
          </div>
        </div>
      </div>
    </div>


  </div>


</body>

<script>

  var app = new Vue({
    el: '#app',
    data: {
      message: 'Hello Vue!',
      critters: [],
      filterBy: 'all',
      filterBy2: 'all',
      moneyMaker: [],
      filterBy3: 0,
      toggleShadows: true,
      filterByMonth: [new Date().getMonth()],
      filterByHour: [new Date().getHours()],
      advancedMonth: { "Jan": false, "Feb": false, "Mar": false, "Apr": false, "May": false, "Jun": false, "Jul": false, "Aug": false, "Sep": false, "Oct": false, "Nov": false, "Dec": false },
      advancedHourAm: { 0: false, 1: false, 2: false, 3: false, 4: false, 5: false, 6: false, 7: false, 8: false, 9: false, 10: false, 11: false },
      advancedHourPm: { 0: false, 1: false, 2: false, 3: false, 4: false, 5: false, 6: false, 7: false, 8: false, 9: false, 10: false, 11: false },
      currentSort: 'name',
      tabSelected: 'list',
      asc: true
    },
    mounted: function () {
      this.critters = critterData.critters;
    },
    computed: {
      filterByMonthPlusOne: function () {
        var temp = [];
        for (var i = 0; i < this.filterByMonth.length; i++) {
          temp.push(this.filterByMonth[i] + 1)
        }
        return temp;
      },
      tableSort: function () {
        var tempTable = this.filterByType(this.critters, this.filterBy);

        var tempTable2 = this.filterByRarity(tempTable, this.filterBy2);

        var tempTable3 = this.filterByPrice(tempTable2, this.filterBy3)

        var tempTable4 = this.filterByMonthCalc(tempTable3, this.filterByMonth)

        var tempTable5 = this.filterByHoursCalc(tempTable4, this.filterByHour)

        tempTable5 = this.sortBy(tempTable5)
        return tempTable5;

      },
      filteredTableForCalc: function () {
        var tempTable = this.filterByType(this.critters, this.filterBy);

        tempTable = this.sortBy(tempTable)
        return tempTable;

      }
    },
    methods: {
      buildFilter: function () {
        this.filterByMonth = [];
        for (var month in this.advancedMonth) {
          var value = this.advancedMonth[month];
          if (value) {
            this.filterByMonth.push(this.getMonthFromString(month));
          }
        }
        this.filterByHour = [];
        for (var hour in this.advancedHourAm) {
          var value = this.advancedHourAm[hour];
          if (value) {
            this.filterByHour.push(parseInt(hour));
          }
        }

        for (var hour in this.advancedHourPm) {
          var value = this.advancedHourPm[hour];
          if (value) {
            this.filterByHour.push(parseInt(hour)+12);
          }
        }
      },
      getMonthFromString: function (mon) {
        var d = Date.parse(mon + "1, 2012");
        if (!isNaN(d)) {
          return new Date(d).getMonth();
        }
        return -1;
      },
      filterByMonthCalc: function (critts, months) {
        var tempTable = [];
        if (months.length === 0) {
          return critts;
        }

        for (var i = 0; i < critts.length; i++) {
          for (var j = 0; j < months.length; j++) {
            if (critts[i].northern.includes(months[j])) {
              if (!tempTable.includes(critts[i]))
                tempTable.push(critts[i]);
            }
          }
        }



        return tempTable
      },
      removeDups: function (names) {
        let unique = {};
        names.forEach(function (i) {
          if (!unique[i]) {
            unique[i] = true;
          }
        })
        return Object.keys(unique);
      },
      filterByHoursCalc: function (critts, hours) {
        var tempTable = [];
        if (hours.length === 0) {
          return critts;
        }

        for (var i = 0; i < critts.length; i++) {
          for (var j = 0; j < hours.length; j++) {
            if (critts[i].hours.includes(hours[j])) {
              if (!tempTable.includes(critts[i]))
                tempTable.push(critts[i]);

            }
          }
        }

        return tempTable
      },

      filterByType: function (critts, type) {
        var tempTable = [];
        if (type == 'all') {
          return critts
        }
        for (var i = 0; i < critts.length; i++) {
          if (critts[i].type === type) {
            tempTable.push(critts[i])
          }
        }
        return tempTable
      },
      filterByPrice: function (critts, price) {
        var tempTable = [];

        if (price === 0) {
          return critts
        }

        for (var i = 0; i < critts.length; i++) {
          if (critts[i].price >= price) {
            tempTable.push(critts[i]);
          }
        }
        return tempTable

      },
      filterByRarity: function (critts, rarity) {
        var tempTable = [];
        if (rarity === 'all') {
          return critts;
        }
        else {
          for (var i = 0; i < critts.length; i++) {
            if (rarity === 'rare') {
              if (critts[i].isRare) {
                tempTable.push(critts[i])
              }
            }
            else if (rarity === 'notRare') {
              if (!critts[i].isRare) {
                tempTable.push(critts[i])
              }
            }
          }
          return tempTable;
        }
      },
      openModal: function (id) {
        $('#' + id).modal('toggle')

      },
      setSort(field) {
        if (field === this.currentSort) {
          this.asc = !this.asc;
        }
        else {
          asc = true;
        }
        this.currentSort = field;
      },
      calculateBestRightNow: function () {
        var d = new Date();
        this.moneyMaker = this.calculateBestLocation([d.getMonth()], [d.getHours()]);

      },
      calculateBestTimeFilter: function () {
        var d = new Date();
        this.moneyMaker = this.calculateBestLocation(this.filterByMonth, this.filterByHour);
        console.log(this.moneyMaker)

      },
      sortBy(arr) {
        return arr.sort((a, b) => {
          let modifier = 1;
          if (!this.asc) modifier = -1;

          if (a[this.currentSort] < b[this.currentSort]) return -1 * modifier;
          if (a[this.currentSort] > b[this.currentSort]) return 1 * modifier;
          return 0;
        });
      },
      calculateBestLocation: function (months, hours) {
        var duringValidMonths = Array.from(this.containsMonth(this.filteredTableForCalc, months));
        var duringValidHours = Array.from(this.containsHours(duringValidMonths, hours));

        var productiveOptions = this.calculateThatGoodShit(duringValidHours);
        return productiveOptions;
      },
      containsMonth(full, subset) {
        var duringValidMonths = new Set();

        if (subset.length === 0) {
          return full;
        }

        for (var i = 0; i < subset.length; i++) {
          var month = subset[i];
          for (var j = 0; j < full.length; j++) {
            if (full[j].northern.includes(month)) {
              duringValidMonths.add(full[j]);
            }
          }
        }
        return duringValidMonths;
      },
      containsHours(full, subset) {

        var duringValidHours = new Set();
        if (subset.length === 0) {
          return full;
        }

        for (var i = 0; i < subset.length; i++) {
          var hour = subset[i];
          for (var j = 0; j < full.length; j++) {
            if (full[j].hours.includes(hour)) {

              duringValidHours.add(full[j]);
            }
          }

        }
        return duringValidHours;
      },
      calculateThatGoodShit: function (dataSet) {
        var validLocations = new Set();
        var locationOptions = new Map();

        for (var i = 0; i < dataSet.length; i++) {
          validLocations.add(dataSet[i].location)
          var option = []
          if (locationOptions.get(dataSet[i].location) == undefined) {
            option = new Set();
          }
          else {
            option = locationOptions.get(dataSet[i].location);
          }

          option.add(dataSet[i]);
          locationOptions.set(dataSet[i].location, option)
        }


        for (let [location, critters] of locationOptions) {
          if (location.includes("(")) {
            //add 
            var tempLocation = location.replace(/ \(.*\)/, '')
            if (locationOptions.get(tempLocation) != undefined) {
              var entries = Array.from(locationOptions.get(tempLocation).entries());
              for (var i = 0; i < entries.length; i++) {
                critters.add(entries[i][1])
              }
            }
          }
          locationOptions.set(location, Array.from(critters))
        }

        var crunchedNumbers = [];
        var crit;
        for (let [location, critters] of locationOptions) {
          var obj = new LocationInformation();
          obj.location = location;
          var count = critters.length;
          var sum = 0;
          var sumPrice = 0;
          var weightedSum = 0;
          var sumCount = 0;
          for (var i = 0; i < critters.length; i++) {
            crit = critters[i];
            obj.names.push(crit.name)
            if (obj.high < crit.price) {
              obj.high = crit.price;
            }
            if (obj.low > crit.price) {
              obj.low = crit.price;
            }
            sum += crit.price;
            if (crit.isRare) {
              weightedSum += crit.price * 0.75;
            }
            else {
              weightedSum += crit.price * 1;
            }
            if (crit.type == 'fish') {
              obj.sizes.add(crit.size);

              if (obj.sumPricePerSize.get(crit.size) != undefined) {
                sumPrice = obj.sumPricePerSize.get(crit.size);
              }
              else {
                sumPrice = 0;
              }
              sumPrice += crit.price;
              obj.sumPricePerSize.set(crit.size, sumPrice)

              if (obj.countPerSize.get(crit.size) != undefined) {
                sumCount = obj.countPerSize.get(crit.size);

              }
              else {
                sumCount = 0;

              }

              sumCount++;
              obj.countPerSize.set(crit.size, sumCount)
            }
          }
          obj.averagePrice = Math.ceil(sum / count);
          obj.weightedAveragePrice = Math.ceil(weightedSum / count);

          obj.sizes = Array.from(obj.sizes)

          for (let [size, sum] of obj.sumPricePerSize) {
            obj.averagePricePerSize.set(size, Math.ceil(sum / obj.countPerSize.get(size)))
          }

          crunchedNumbers.push(obj);

        }

        return crunchedNumbers


      }


    }
  })
  function LocationInformation() {
    this.high = 0;
    this.low = 30000;

    this.sizes = new Set();
    this.averagePricePerSize = new Map();
    this.sumPricePerSize = new Map();
    this.countPerSize = new Map();
    this.names = [];

    this.location = '';
    this.averagePrice = 0;
    this.weightedAveragePrice = 0;

  };

</script>
<style>
  .sticky {
    position: -webkit-sticky;
    /* Safari */
    position: sticky;
    top: 0;
  }

  .stickyheader {
    position: -webkit-sticky;
    /* Safari */
    position: sticky;
    top: 37;
    background-color: silver;
  }

  td {
    word-break: normal;
  }



  body .modal-dialog {
    /* Width */
    padding-left: 15px;
    min-width: 100%;
    max-width: 100%;
    width: auto !important;
    display: inline-block;
  }
</style>
