<script src="https://cdn.jsdelivr.net/npm/vue"></script>
<script src="critters.js"></script>
<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css"
  integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
<script src="https://code.jquery.com/jquery-3.2.1.slim.min.js"
  integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js"
  integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"
  integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>



<body>
  <div id="app">
    <div>
      <div class="w-100">
        <div style="background-color: white;" class="sticky">
          <div class="btn-group btn-group-toggle sticky">
            <button @click="filterBy='all'" class="btn btn-primary sticky"
              :class="{active: filterBy=='all'}">Both</button>
            <button @click="filterBy='fish'" class="btn btn-primary sticky"
              :class="{active: filterBy=='fish'}">Fish</button>
            <button @click="filterBy='bugs'" class="btn btn-primary sticky"
              :class="{active: filterBy=='bugs'}">Bugs</button>
          </div>
        </div>

        <table class="table table-striped">
          <thead>
            <tr>
              <th class="stickyheader" @click="setSort('name')">name</th>
              <th class="stickyheader">image</th>
              <th class="stickyheader" @click="setSort('location')">
                location</th>
              <th class="stickyheader" @click="setSort('price')">price(-20%)
              </th>
              <th class="stickyheader" @click="setSort('size')">size</th>
              <th class="stickyheader">shadow</th>

            </tr>
          </thead>
          <tr v-for="critter in tableSort">

            <td> {{ critter.name }}</td>
            <td> <img :src="critter.url"></td>
            <td> {{ critter.location }}</td>
            <td> {{ critter.price }} ({{critter.price*0.80}})</td>
            <td>{{critter.size}} </td>

            <td> <img v-if="critter.type=='fish'"
                :src="critter.size.replace(' ','__').replace('(','').replace(')','')+'.png'" style="max-height:100px">
            </td>
          </tr>
        </table>
      </div>

    </div>

  </div>


</body>

<script>
  var app = new Vue({
    el: '#app',
    data: {
      message: 'Hello Vue!',
      critters: [],
      filterBy: 'all',
      currentSort: 'name',
      asc: true
    },
    mounted: function () {
      this.critters = critterData.critters;
      this.calculateBestLocation([3, 4], [16, 17, 18, 19, 20])
    },
    computed: {
      tableSort: function () {
        var tempTable = [];
        if (this.filterBy == 'all') {
          tempTable = this.critters;
        }
        for (var i = 0; i < this.critters.length; i++) {
          if (this.critters[i].type === this.filterBy) {
            tempTable.push(this.critters[i])
          }
        }
        tempTable = this.sortBy(tempTable)
        return tempTable;

      },
      boxIt: function (base) {
        return base * 0.80;
      }
    },
    methods: {
      openModal: function (id) {
        $('#' + id).modal('toggle')

      },
      setSort(field) {
        if (field === this.currentSort) {
          this.asc = !this.asc;
        }
        else {
          asc = true;
        }
        this.currentSort = field;
      },
      sortBy(arr) {
        return arr.sort((a, b) => {
          let modifier = 1;
          if (!this.asc) modifier = -1;

          if (a[this.currentSort] < b[this.currentSort]) return -1 * modifier;
          if (a[this.currentSort] > b[this.currentSort]) return 1 * modifier;
          return 0;
        });
      },
      calculateBestLocation: function (months, hours) {
        var duringValidMonths = Array.from(this.containsMonth(this.critters, months));
        var duringValidHours = Array.from(this.containsHours(duringValidMonths, hours));

        var productiveOptions = this.calculateThatGoodShit(duringValidHours);
      },

      containsMonth(full, subset) {
        var duringValidMonths = new Set();
        for (var i = 0; i < subset.length; i++) {
          var month = subset[i];
          for (var j = 0; j < full.length; j++) {
            if (full[j].northern.includes(month)) {
              duringValidMonths.add(full[j]);
            }
          }
        }
        return duringValidMonths;
      },
      containsHours(full, subset) {

        var duringValidHours = new Set();

        for (var i = 0; i < subset.length; i++) {
          var hour = subset[i];
          for (var j = 0; j < full.length; j++) {
            if (full[j].hours.includes(hour)) {

              duringValidHours.add(full[j]);
            }
          }

        }
        return duringValidHours;
      },
      calculateThatGoodShit: function (dataSet) {
        var validLocations = new Set();
        var locationOptions = new Map();

        for (var i = 0; i < dataSet.length; i++) {
          validLocations.add(dataSet[i].location)
          var option = []
          if (locationOptions.get(dataSet[i].location) == undefined) {
            option = [];
          }
          else {
            option = locationOptions.get(dataSet[i].location);
          }

          option.push(dataSet[i]);
          locationOptions.set(dataSet[i].location, option)
        }
        var crunchedNumbers = [];
        var crit;
        for (let [location, critters] of locationOptions) {
          var obj = new LocationInformation();
          obj.location=location;
          var count = critters.length;
          var sum = 0;
          var sumPrice=0;
          var sumCount=0;
          for (var i = 0; i < critters.length; i++) {
            crit = critters[i];
            if (obj.high < crit.price) {
              obj.high = crit.price;
            }
            if (obj.low > crit.price) {
              obj.low = crit.price;
            }
            sum += crit.price;
            if (crit.type == 'fish') {
              obj.sizes.add = crit.size;

              if(obj.sumPricePerSize.get(crit.size)!=undefined){
                sumPrice=0;
              }
              else{
                sumPrice=obj.sumPricePerSize.get(crit.size);
              }
              sumPrice+= crit.price;
              obj.sumPricePerSize.set(crit.size,sumPrice)

              if(obj.countPerSize.get(crit.size)!=undefined){
                sumCount=0;
              }
              else{
                sumCount=obj.countPerSize.get(crit.size);
              }
              sumCount++;
              obj.countPerSize.set(crit.size,sumCount)
            }
          }
          obj.averagePrice = sum / count;

          for (let [size, sum] of obj.sumPricePerSize) {
            obj.averagePricePerSize.set(size,sum/obj.countPerSize.get(size))
          }

          crunchedNumbers.push(obj);
          
        }

        console.log(crunchedNumbers)


      }


    }
  })
  function LocationInformation() {
    this.high = 0;
    this.low = 30000;

    this.sizes = new Set();
    this.averagePricePerSize = new Map();
    this.sumPricePerSize = new Map();
    this.countPerSize = new Map();

    this.location = '';
    this.averagePrice = 0;
  };

</script>
<style>
  .sticky {
    position: -webkit-sticky;
    /* Safari */
    position: sticky;
    top: 0;
  }

  .stickyheader {
    position: -webkit-sticky;
    /* Safari */
    position: sticky;
    top: 37;
    background-color: silver;
  }

  td {
    word-break: break-all;
  }
</style>